<%= form_for(tournament) do |f| %>
  <% if tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
      <% tournament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :no_of_rounds %>
    <%= f.number_field :no_of_rounds %>
  </div>
  <h4>Players List</h1>
 <%= link_to 'New Player', new_player_path %>
<table id="playertable",class="table-striped table">
  <tr>
    <th>Player</th>
    <th>Rating</th>
    <th> </th>
  </tr>

  <% @players.each do |player| %>
    <tr>
       <%= fields_for "players[]", player do |pf| %>
          <td><%= pf.text_field :name %></td>
         <td><%= pf.text_field :rating %></td>
       <% end %>
    </tr>
  <% end %>
</table>
  <div class="actions">
    <%= f.submit %>
    <%= button_tag(id:'addplayer1',name:'addplayer',type: 'button') do
       content_tag(:normal, 'Add Player')
     end
    %>
    <%= button_tag(id:'removeplayer1',type: 'button') do
           content_tag(:normal, 'Remove Player')
         end
        %>
  </div>
<% end %>
