<div class="center jumbotron">
   <h1>Editing <%=@tournament.name%> :Enter Results</h1>
   <p id="notice"><%= notice %></p>
</div>

<%= form_for(@tournament) do |f| %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tournament.name %>
</p>

<p>
  <strong>Rounds:</strong>
  <%= @tournament.no_of_rounds %>
</p>


<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
<table class="table-striped table">
   <thead>
     <tr>
       <th>Rounds</th>
       <th>Result</th>
     </tr>
   </thead>
  <tbody>
 <% @tournament.rounds.each do |round| %>
     <tr class="roundheader" style="background-color: Bisque;">
       <td >Round:<%=round.round_number %></td>
        <td/>
        <td/>
        <td/>
     </tr>
    <% round.matches.each do |match|%>

         <%= fields_for "matches[]", match do |m| %>
          <tr>
                   <td><%= match.players[0].name  %> Vs  <%= match.players[1].name%> </td>
                  <td><%= m.text_field :result %></td>
          </tr>
         <% end %>

    <%end%>



 <% end %>
 </tbody>
</table>

<div class="actions">
  <%= f.submit %>

</div>
<% end %>
