<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tournament.name %>
</p>

<p>
  <strong>Rounds:</strong>
  <%= @tournament.no_of_rounds %>
</p>
<% matcharray=[] %>
<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>

 <% @tour.rounds.each do |round| %>
 <table id="matchTable" class="table-striped table">
   <thead>
     <tr>
       <th >Round:<%=round.round_number %></th>

     </tr>
   </thead>
  <tbody>
    <% round.matches.each do |match|%>
    <% matcharray << match %>
    <%  players=match.players   %>
      <tr>
        <td><%= players[0].name %>(<%=players[0].rating %>)</td>
        <td><bold>V</bold></td>
          <td><%= players[1].name %>(<%=players[1].rating %>)</td>

        <td><%= getResult(match.result) %></td>
      </tr>
    <%end%>
  </tbody>
 <% end %>
</table>
<% r=ranking(matcharray) %>
<% if r != nil %>
<table class="table-striped table">
   <thead>
     <tr>
       <th >Tournament Results</th>
     </tr>
   </thead>
  <tbody>
  <%count=0%>
   <%r.each do |key,value|%>
    <tr>
      <%if count <= 2%>
        <td class="success"><%=key%> : <%=value%> </td>
      <%else%>
        <td><%=key%> : <%=value%> </td>
      <% end %>
    </tr>
    <%count=count+1%>
   <%end%>
  </tbody>
<%end%>