<!DOCTYPE html>
<html>
  <head>
    <title>Livingston Chess Club </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >
   <header class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
          <%= link_to "Sanskriti Livingston Chess Club", '#', id: "logo" %>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to 'Home', tournaments_path %></li>
              <li><%= link_to "Help",   '#' %></li>
              <li><%= link_to "Log in", '#' %></li>
            </ul>
          </nav>
        </div>
   </header>

    <% if notice.present?%>
      <aside class="alert alert-info">
        <%=notice%>
      </aside>
     <%end%>
      <% if alert.present?%>
           <aside class="alert alert-danger">
             <%=alert%>
           </aside>
          <%end%>
    <%= yield %>
    <div class="container">
    </div>
  </body>
</html>
